body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee; /* Anti-flash white */
    color: #122023; /* Moonstone 100 (oscuro para buen contraste) */
}

nav {
    background: linear-gradient(90deg, #326273, #5c9ead); /* Payne's gray a Moonstone */
    color: #ffffff;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: #e39774; /* Atomic Tangerine */
    transform: scale(1.1);
}

/* Dropdown Menu Styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* White */
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: #244047; /* Moonstone 200 */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #e39774; /* Atomic Tangerine */
    color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header {
    background: linear-gradient(90deg, #326273, #5c9ead); /* Payne's gray to Moonstone */
    color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    padding: 30px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #bed8de; /* Moonstone 800 */
    background-color: #ffffff; /* White */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

section:hover {
    transform: translateY(-5px);
}

footer {
    background: linear-gradient(90deg, #326273, #5c9ead); /* Payne's gray to Moonstone */
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #326273; /* Payne's gray */
}

/* Style for methodology pages specifically */
#methodology-content {
    margin-top: 20px;
}

#methodology-content h2 {
    font-size: 2.2em;
    margin-bottom: 15px;
    color: #e39774; /* Atomic Tangerine */
}

#methodology-content h3 {
    font-size: 1.8em;
    margin-top: 20px;
    color: #5c9ead; /* Moonstone base */
}
